

@font-face {
    font-family: Mainstay;
    src: url(Fuentes/Mainstay.ttf);
}

.divespacio{
    display: none;
}

:root{
    --gris-oscuro: #2C2B2B;
    --gris-claro: #666666;
    --naranja-fuerte: #e26d00;
    --naranja-oscuro: #c04600;
    --naranja-claro: #ff9800;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Mainstay;
    background-color: #666666;
    
}
.buscadormedia{
    display: none;
}

.configuracion{
    font-size: 3vw;
    transform: translateY(0.3vh);
}
.configuracion:hover,.cuentanav:hover{
    color: var(--naranja-oscuro);
}

.espacio1{
    width: 35vw;
}
.espacio2{
    width: 30vw;
}
.cuentanav{
    font-size: 2vw;
}

.ImagenLogo{
    transform: translateY(1vh);
    width: 8vw;
    height: 5vw;
}

nav{
    top: 0;
    left: 0;
    color: var(--naranja-fuerte);
    text-shadow: 1px 1px 2px var(--naranja-oscuro);
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
	justify-content: center;
    background-color: var(--gris-oscuro);

}

.t1,.t2{
    font-size: 0.9vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(5vh);
}
.t2{
    font-size: 1.1vw;
}

.buscador{
    font-size: 1vw;
    transform: translateY(5vh);
}
.buscador:hover{
    color: #2C2B2B;
}

.TituloNav{
    padding-top: 3vh;
    font-size: 2vw;
    transform: translateY(-1vh);
}

.Div1{
    display: flex;
    width: 100vw;
    height: 50vh;
    padding-top: 9.3vh;
    flex-direction: row;
    background-color: var(--gris-claro);
}

.imagenstream1{
    transform: translateY(4vh);
    align-self: center;
    width: 30vw;
    height: 25vh;
    border: 3px solid black;
}
.rubiustitulo{
    transform: translateY(3vh);
    font-size: 1.5vw;
}
.verstream1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    width: 10vw;
    border:2px solid  black;
    background-color: var(--gris-oscuro);
    transform: translateY(5vh);
}
.verstream1:hover{
    background-color: var(--naranja-oscuro);
}
.categoriastitulo{
    font-size: 1.1vw;
    transform: translate(1vw,1vh);
}
.imagencategoria{
    border: 2px solid black;
    transform: translateY(7vh);
    width: 12vw;
    height: 30vh ;
}
.espaciocat{
    width: 3vw;
}

article{
    display: flex;
    width: 33.4vw;
    height: 50vh;
    flex-direction: column;
    text-align: center;
    border: 3px groove var(--gris-oscuro);
}
.Div2{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: var(--gris-oscuro);
}
.tituloscat{
    display: flex;
    flex-direction: row;
    height: 5vh;
}
.categoriastitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 7.7vw;
    
}
.categoriastitulo1{
    padding-left: 2vw;
    font-size: 1.2vw;
    text-shadow: 1px 1px 2px var(--naranja-oscuro);
}
.imagenescat{
    transform: translateY(-4vh);
    display: flex;
    flex-direction: row;
    padding-left: 15vw;
}
.imagencategoria{
    width: 10vw;
    height: 27vh;
}